<div id="card">
  <div id="inside" class="{{ monster.type }}">
    <header>
      <div class="left">
        <div id="name">
          {{ monster.name }}
        </div>
      </div>
      <div class="right">
        <div id="hp"><span>PV</span>{{ monster.hp }}</div>
        <img class="energy icon" src="assets/img/fire.webp">
      </div>
    </header>
    <figure id="art">
      <img src="{{ monster.imagePath }}">
      <figcaption>{{ monster.figureCaption }}</figcaption>
    </figure>
    <div id="capacities">
      <div class="capacity">
        <div class="main">
          <div class="cost">
            <img src="assets/img/fire.webp" class="icon energy">
            <img src="assets/img/fire.webp" class="icon energy">
          </div>
          <div class="name">{{ monster.attackName }}</div>
          <div class="damage">{{ monster.attackStrength }}</div>
        </div>
      </div>
      <div class="description">
        {{ monster.attackDescription }}
      </div>
    </div>
  </div>
</div>
